doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/dateConverter.js' defer)
    script(src="https://kit.fontawesome.com/bc1bc2b6f5.js" crossorigin="anonymous")
  body
    header 
      h1 
        a(href='/') Members Only
      nav 
        ul 
          if user == undefined
            li 
              a(href='/sign-up') Sign Up 
            li 
              a(href='/login') Login
          else 
            li 
              a(href='/logout') Logout
          li 
            a(href='/secret-stuff') Secret Stuff

    block content
