extends layout 

block content 
    h1 You shall not pass.
    p Unless you know the passwords, that is.

    if was_incorrect
        p.red-msg *The members have considered your request, and have unanimously decided to reject it.

    if user == null 
        p Log in before attempting to enter any special secrets.
    else if user.is_admin 
        p Looks like you already know all of our secrets!
    else
        form(method='POST' action="") 
            if !user.is_member
                div 
                    label(for='member_password') Member: 
                    input(name='member_password' id='member_password' type='text' placeholder='Secret Password')
            div 
                label(for='admin_password') Admin: 
                input(name='admin_password' id='admin_password' type='text' placeholder='Super Secret Password')
            button(type='submit') LET ME IN 

        